*{
    margin:0px;
    padding:0px;
}

body{
    background-color: hsl(30, 38%, 92%);
    place-content: center;
    min-height: 100vh;
    display: grid;
}

main{
    border-radius: 20px;
    max-width: 30rem;
    min-height : 35rem;
    overflow: hidden;
    background-color: white;
    margin: 1rem;
}


picture{
    max-width:100%; 
}

img{
    display : block;
    max-width: 100%;
}

div{
    max-width: 20rem;
}

div.content{
    padding:1rem;
}

div > small{
    font-family : 'Montserrat';
    padding-top : 5px;
    color: gray;
    letter-spacing: 6px;
    font-size: small;
}
div > h1{
    font-family: 'Fraunces';
    padding-top : 1rem;
    text-transform:capitalize;
}

div > p{
    padding-top : 1rem;
    padding-bottom: 1rem;
    color : gray;
    font-family : 'Montserrat';
    line-height: 26px;
}

span.price{
    color: darkgreen;
    font-family:'Fraunces';
    font-size: 3rem;
    font-weight: bold;
    padding : 0;
    display: inline;
    margin-top: 3rem;
}

del{
    display : inline;
    color: grey;
}

button{
    margin-top : 1rem;
    padding: 1rem;
    width:100%;
    background-color:  hsl(158, 36%, 37%);
    border : rgba(0, 0, 0,0);
    border-radius: 10px;
    bottom: 4px;
}

span{
    color: white;
    font-weight: bold;
    padding:1em;
    width : 100%;
}

button:hover{
    background-color: hsl(212, 21%, 14%);
}

@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.google.com/specimen/Montserrat.ttf);
    font-weight: 500;
}

@font-face{
    font-family: 'Fraunces';
    src: url(https://fonts.google.com/specimen/Fraunces.otf);
    font-weight: 700;
}

@media only screen and (min-width : 24rem) {

    main{
        max-width: 150%;
        min-height: 50%;

    }

    div.image{
        width:50%;
        float: left;
        padding : 0;

    }

    div.content{
        width: 50%;
        float: right;
        padding: 2rem 1rem 2rem 1rem;
    }
    picture{
        width: 100%;
    }

    div > p{
        padding-top : 2rem;
    }
}
